# Obtención del dataframe

Vamos a descargar las reviews de bebés, jardín e instrumentos musicales. He elegido estas categorías porque son de las que menos opiniones tienen y además parece que son lo suficientemente dintintas como para que la detección de topics sea mas asequible.

In [16]:
# Importamos librerías
import pandas as pd

In [17]:
# Cargamos los datos en un dataframe de pandas
url = 'http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Musical_Instruments_5.json.gz'
df_musical = pd.read_json(url, lines=True)
url ='http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Baby_5.json.gz'
df_baby = pd.read_json(url, lines=True)
url ='http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Patio_Lawn_and_Garden_5.json.gz'
df_garden = pd.read_json(url, lines=True)

In [18]:
# Obervamos los datos que tenemos
df_musical.head()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,A2IBPI20UZIR0U,1384719342,"cassandra tu ""Yeah, well, that's just like, u...","[0, 0]","Not much to write about here, but it does exac...",5,good,1393545600,"02 28, 2014"
1,A14VAT5EAX3D9S,1384719342,Jake,"[13, 14]",The product does exactly as it should and is q...,5,Jake,1363392000,"03 16, 2013"
2,A195EZSQDW3E21,1384719342,"Rick Bennette ""Rick Bennette""","[1, 1]",The primary job of this device is to block the...,5,It Does The Job Well,1377648000,"08 28, 2013"
3,A2C00NNG1ZQQG2,1384719342,"RustyBill ""Sunday Rocker""","[0, 0]",Nice windscreen protects my MXL mic and preven...,5,GOOD WINDSCREEN FOR THE MONEY,1392336000,"02 14, 2014"
4,A94QU4C90B1AX,1384719342,SEAN MASLANKA,"[0, 0]",This pop filter is great. It looks and perform...,5,No more pops when I record my vocals.,1392940800,"02 21, 2014"

In [19]:
df_garden.head()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,A1JZFGZEZVWQPY,B00002N674,"Carter H ""1amazonreviewer@gmail . com""","[4, 4]",Good USA company that stands behind their prod...,4,Great Hoses,1308614400,"06 21, 2011"
1,A32JCI4AK2JTTG,B00002N674,"Darryl Bennett ""Fuzzy342""","[0, 0]",This is a high quality 8 ply hose. I have had ...,5,Gilmour 10-58050 8-ply Flexogen Hose 5/8-Inch ...,1402272000,"06 9, 2014"
2,A3N0P5AAMP6XD2,B00002N674,H B,"[2, 3]",It's probably one of the best hoses I've ever ...,4,Very satisfied!,1336176000,"05 5, 2012"
3,A2QK7UNJ857YG,B00002N674,Jason,"[0, 0]",I probably should have bought something a bit ...,5,Very high quality,1373846400,"07 15, 2013"
4,AS0CYBAN6EM06,B00002N674,jimmy,"[1, 1]",I bought three of these 5/8-inch Flexogen hose...,5,Good Hoses,1375660800,"08 5, 2013"

In [20]:
df_baby.head()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,A1HK2FQW6KXQB2,097293751X,"Amanda Johnsen ""Amanda E. Johnsen""","[0, 0]",Perfect for new parents. We were able to keep ...,5,Awesine,1373932800,"07 16, 2013"
1,A19K65VY14D13R,097293751X,angela,"[0, 0]",This book is such a life saver. It has been s...,5,Should be required for all new parents!,1372464000,"06 29, 2013"
2,A2LL1TGG90977E,097293751X,Carter,"[0, 0]",Helps me know exactly how my babies day has go...,5,Grandmother watching baby,1395187200,"03 19, 2014"
3,A5G19RYX8599E,097293751X,cfpurplerose,"[0, 0]",I bought this a few times for my older son and...,5,repeat buyer,1376697600,"08 17, 2013"
4,A2496A4EWMLQ7,097293751X,C. Jeter,"[0, 0]",I wanted an alternative to printing out daily ...,4,Great,1396310400,"04 1, 2014"

Antes de concatenar los dataframes vamos a poner la misma cantidad de cada categoría, por tanto los vamos a recortar a 10.000 registros y a quedarnos sólo con la columna de la nota y el el texto. Borraremos tambien todos los NA.

In [21]:
# Borramos las columnas innecesarias
df_baby.drop(['reviewerID', 'asin', 'reviewerName', 'helpful', 'summary', 'unixReviewTime', 'reviewTime'], 
             axis=1, inplace=True)
df_musical.drop(['reviewerID', 'asin', 'reviewerName', 'helpful', 'summary', 'unixReviewTime', 'reviewTime'], 
             axis=1, inplace=True)
df_garden.drop(['reviewerID', 'asin', 'reviewerName', 'helpful', 'summary', 'unixReviewTime', 'reviewTime'], 
             axis=1, inplace=True)

In [22]:
df_musical.isnull().any()

reviewText    False
overall       False
dtype: bool

In [23]:
df_baby.isnull().any()

reviewText    False
overall       False
dtype: bool

In [24]:
df_garden.isnull().any()

reviewText    False
overall       False
dtype: bool

Hemos comprobado que no tenemos registros con Na. Acortamos los dataframes:

In [25]:
df_baby = df_baby.iloc[0:10000]
df_garden = df_garden.iloc[0:10000]
df_musical = df_musical.iloc[0:10000]

Ahora podremos concatenarlos sin problemas.

In [26]:
df_combined = pd.concat([df_baby, df_garden, df_musical])
df_combined.shape

(30000, 2)

Ahora simplemente quedaría mezclar el dataframe y reiniciar índices.

In [27]:
df_combined = df_combined.sample(frac=1).reset_index(drop=True)

In [28]:
df_combined.head()

                                          reviewText  overall
0  When I ordered this trap, we had a critter, mo...        5
1  This trap was requested to replace an older HA...        5
2  I waited to write this as it is both difficult...        5
3  I had purchased one a while back for my electr...        5
4  received them in four days....just in time for...        5

In [29]:
df_combined['overall'].value_counts()

5    17898
4     6387
3     2997
2     1451
1     1267
Name: overall, dtype: int64

El dataset está listo para empezar a trabajar con él. Vamos a guardarlo en un fichero para usarlo en los siguientes notebooks.

In [30]:
df_combined.to_csv('./dataset/amazon.csv', index=False)